<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517221054105-29gp1oovr22hm1nh6eb8ogod2veckdg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517221054105-29gp1oovr22hm1nh6eb8ogod2veckdg0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>517221054105-fbdq6mkodh8mre643l8lg9pia2jkrqtk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAX11WHD7DgTtHMQEc4PkyXBbgQenPvKc</string>
	<key>GCM_SENDER_ID</key>
	<string>517221054105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PetScheduling</string>
	<key>PROJECT_ID</key>
	<string>pet-scheduling</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-scheduling.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517221054105:ios:35338a3677504142f92a08</string>
</dict>
</plist>